.fr-nis2-accueil {
  background: #f5f5fe;

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  a {
    font-size: 16px;
  }

  #hero {
    h1 {
      font-size: 36px;
      margin-bottom: 16px;

      img {
        width: 116px;
        margin: 0 0 0 4px;
        position: relative;
        top: 10px;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
    }

    img {
      margin-left: -16px;
      margin-bottom: 102px;
    }

    #hero-tablette {
      display: none;
    }
  }

  #concernes {
    margin-top: -266px;
    position: relative;
    z-index: 1;

    .carte-concernes {
      display: flex;
      flex-direction: column;
      padding: 40px 32px 50px 32px;
      text-align: center;
      background: white;

      h2 {
        font-size: 32px;
        margin-bottom: 24px;
      }

      p {
        padding-bottom: 24px;
      }

      .actions {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;

        a {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }

  #explications-nis2 {
    .conteneur-paragraphes {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .actions {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;

        a {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }

      .paragraphe {
        padding-left: 16px;
        border-left: 4px solid #272771;

        &:nth-child(even) {
          border-left: 4px solid #fdc82e;
        }

        h3 {
          margin-bottom: 8px;
          padding-right: 8px;
        }

        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
  }

  #preparation {
    .conteneur-cartes-se-preparer {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .carte-se-preparer {
        img {
          margin-bottom: 16px;
          width: 100%;
        }

        .numero {
          background: #272771;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 16px;

          &.prochainement {
            opacity: 20%;
          }
        }

        h3 {
          margin-bottom: 8px;
        }

        p {
          margin-bottom: 0;
        }

        :not(.numero).prochainement {
          margin-top: 16px;
          background: #d6e3ff;
          padding: 2px 8px;
          font-weight: bold;
          width: fit-content;
        }
      }
    }
  }

  #etapes {
    .conteneur-etapes {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 40px;
      border-left: 2px solid #545d8e;
      position: relative;

      #piste-etape {
        display: none;
      }

      &:before {
        content: "";
        min-width: 20px;
        min-height: 20px;
        background: #272771;
        display: inline-block;
        position: absolute;
        top: -6px;
        left: -6px;
      }

      .etape {
        padding-left: 36px;
        position: relative;

        &:before {
          content: "";
          min-width: 14px;
          min-height: 14px;
          background: #545d8e;
          display: inline-block;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: -9px;
        }

        &:after {
          content: "";
          min-width: 32px;
          min-height: 2px;
          background: #545d8e;
          display: inline-block;
          position: absolute;
          top: 16px;
          left: 4px;
        }

        .annee {
          padding: 6px 8px;
          font-size: 24px;
          font-weight: bold;
          color: #272771;
          background: white;
          width: 112px;
          margin-bottom: 12px;
        }

        .date {
          font-weight: bold;
          margin-bottom: 4px;
        }

        .contenu {
          color: #bac0de;
          margin-bottom: 0;

          &:not(:last-of-type) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  #anssi {
    .conteneur-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
    }

    p:first-of-type {
      margin-bottom: 8px;
    }

    a {
      display: flex;
      justify-content: center;

      &:after {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }
    }
  }
}
