@media screen and (min-width: 1280px) {
  .fr-nis2-accueil {
    .fr-nis2-bloc-principal {
      padding: 80px 120px;
    }

    #hero {
      h1 {
        margin-top: 38px;
      }

      h2 {
        max-width: 588px;
        text-align: left;
      }

      #hero-tablette {
        width: 100%;
        margin-top: -360px;
        margin-left: 64px;
        transform: translateY(110px);
      }
    }

    #preparation {
      .conteneur-cartes-se-preparer {
        padding: 0;

        .carte-se-preparer {
          display: flex;
          flex-direction: row;
          gap: 40px;
          align-items: center;
          position: relative;

          &:nth-child(even) {
            flex-direction: row-reverse;
          }

          img {
            min-width: 420px;
          }

          .contenu {
            min-width: 420px;
          }

          .numero {
            min-width: 120px;
          }
        }
      }
    }

    #etapes {
      overflow: hidden;

      h2 {
        margin-bottom: 240px;
      }

      .conteneur-etapes {
        position: relative;
        flex-direction: row;
        gap: 66px;
        padding: 0;
        border-left: none;
        padding-left: 60px;

        #piste-etape {
          display: flex;
          position: absolute;
          right: -120px;
          top: -60px;
        }

        .etape {
          flex-direction: column;
          gap: 12px;
          border-left: 2px solid #545d8e;

          &:before {
            bottom: 0;
            top: unset;
            left: -8px;
          }

          &:after {
            top: 0;
            left: 0;
            min-width: 36px;
          }

          .annee {
            transform: translateY(-16px);
            margin-bottom: 0;
          }

          .jalon {
            flex-direction: column;
            gap: 0;
            transform: translateY(-16px);
          }

          &:first-of-type {
            height: 340px;
            transform: translateY(80px);

            .jalon {
              .contenu {
                min-width: 170px;
              }
            }
          }

          &:nth-of-type(2) {
            height: 376px;
            margin-top: -50px;
          }

          &:nth-of-type(3) {
            height: 460px;
            margin-top: -140px;
          }

          &:last-of-type {
            height: 348px;
            margin-top: -290px;

            .jalon {
              .contenu {
                min-width: 230px;
              }
            }
          }
        }
      }
    }
  }
}
