.fr-nis2-me-preparer {
  background: #f5f5fe;
  padding-bottom: 48px;

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 32px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 18px;
  }

  #hero {
    position: relative;

    h1 {
      margin-top: 8px;
      margin-bottom: 106px;
      line-height: 44px;
    }

    img {
      position: absolute;
      right: 20px;
      bottom: -42px;
    }
  }

  .sommaire {
    margin-top: 65px;

    &[open] > summary {
      background: var(--couleur-primaire-attenuee);

      &:after {
        transform: translateY(1px) rotate(180deg);
      }
    }

    summary {
      color: var(--couleur-primaire);
      padding: 12px 16px;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: #dddddd;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      font-weight: 500;

      &::marker {
        display: none;
      }

      &::-webkit-details-marker {
        display: none;
      }

      &:before {
        content: "";
        background: url(../assets/icone-menu.svg);
        width: 16px;
        height: 16px;
        display: block;
      }

      &:after {
        content: "";
        width: 16px;
        height: 16px;
        background: url(../assets/icone-fleche-bas.svg);
        transform: translateY(1px) rotate(0deg);
        transition: transform 0.1s ease-in-out;
        margin-left: auto;
      }
    }

    ul {
      list-style: none;
      padding: 16px;

      li {
        padding: 12px 8px;
        font-weight: bold;
        border-bottom: 1px solid #dddddd;

        &:hover {
          background: #0000000a;
        }

        &:last-of-type {
          border-bottom: none;
        }

        a {
          background: none;
          display: flex;

          &.active {
            color: #272771;

            &:before {
              content: "";
              min-width: 2px;
              height: 24px;
              background: #272771;
              display: inline-block;
              margin-left: -8px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
