:root {
  --centre-aide-background-entete: #272771;
  --centre-aide-background-bouton: var(--centre-aide-background-entete);
  --centre-aide-font-color-bouton: white;
  --centre-aide-border-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-font-color-lien-secondaire: var(--centre-aide-background-entete);
  --centre-aide-background-hover-lien: #41419f;
  --centre-aide-background-hover-declencheur: var(--centre-aide-background-hover-lien);
  --brique-background-primaire: var(--centre-aide-background-entete);
  --brique-background-secondaire: transparent;
  --brique-hero-bouton-gauche-background: #ffffff;
  --brique-hero-bouton-gauche-background-hover: #ffffff;
  --brique-hero-bouton-gauche-background-active: #ffffff;
  --brique-hero-bouton-gauche-texte: #272771;
  --brique-hero-bouton-droite-background: transparent;
  --brique-hero-bouton-droite-background-hover: rgba(255, 255, 255, 0.08);
  --brique-hero-bouton-droite-background-active: rgba(255, 255, 255, 0.16);
  --brique-hero-bouton-droite-texte: #ffffff;
  --titre-couleur-primaire: #272771;
  --brique-carrousel-bouton-action-texte-couleur: #272771;
  --brique-marelle-titre-couleur: #272771;
  --brique-marelle-etapes-numero-etape-couleur: #272771;
  --brique-marelle-etapes-lien-couleur: #272771;
  --brique-marelle-bouton-background: #272771;
  --brique-marelle-bouton-background-hover: #41419f;
  --brique-marelle-bouton-background-active: #41419f;
  --brique-marelle-bouton-texte: #ffffff;
  --brique-temoignages-titre-couleur: #272771;
  --brique-temoignages-icone-couleur: #41419f;
  --brique-contenu-deux-colonnes-action-bouton-background: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-background-hover: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-background-active: #ffffff;
  --brique-contenu-deux-colonnes-action-bouton-texte: #272771;
  --brique-presentation-anssi-titre-couleur: #272771;
  --brique-presentation-anssi-bouton-background: #ffffff;
  --brique-presentation-anssi-bouton-background-hover: rgba(0, 0, 0, 0.04);
  --brique-presentation-anssi-bouton-background-active: rgba(0, 0, 0, 0.08);
  --brique-presentation-anssi-bouton-texte: #272771;
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --couleur-lien: #272771;
  --filtre-couleur-primaire: brightness(0) invert(16%) sepia(31%) saturate(3600%) hue-rotate(224deg)
  brightness(93%) contrast(101%);
  --sommaire-actif-indicateur-couleur: #fed980;
  --sommaire-actif-couleur: #272771;
  --sommaire-mobile-fond: #f5f5fe;
  --liste-articles-couleur-fleche: red;
  --liste-articles-couleur-texte: red;
  --couleur-focus: #272771;
  --bouton-secondaire-tertiaire-couleur-texte: #272771;
  --bouton-secondaire-couleur-bordure: #0d0c21;
  --bouton-primaire-couleur-texte: #3a3a3a;
  --bouton-primaire-couleur-fond: #fdc82e;
  --bouton-primaire-couleur-fond-survol: #ffdb71;
  --bouton-primaire-couleur-fond-clique: #ededed;
  --bouton-arrondi: 8px;
  --tag-couleur-fond: #eee;
  --tag-couleur-texte: #161616;
  --tag-selectionnable-couleur-texte: #000091;
  --tag-selectionnable-couleur-fond: #e3e3fd;
  --tag-selectionnable-couleur-fond-survol: #c1c1fb;
  --tag-selectionnable-couleur-fond-clique: #adadf9;
  --tag-selectionne-couleur-texte: #f5f5fe;
  --tag-selectionne-couleur-fond: #000091;
  --tag-selectionne-couleur-fond-survol: #1212ff;
  --tag-selectionne-couleur-fond-clique: #2323ff;
}
