# Matomo
VITE_MATOMO_SITE_ID=
VITE_MATOMO_SCRIPT_HASH=

# Sentry
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONNEMENT=

# Support utilisateur via Crisp
VITE_CRISP_URL_FAQ= # URL vers la FAQ Crisp. Laisser vide pour masquer le lien vers la FAQ.

# Feature flags

# `v1` pour afficher le questionnaire legacy.
# `v2` pour le questionnaire refacto.
# `all` pour les 2 en parallèle.
# Utilisera `v1` si la variable est absente.
VITE_VERSION_QUESTIONNAIRE=