# Matomo
VITE_MATOMO_SITE_ID=
VITE_MATOMO_SCRIPT_HASH=

# Sentry
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONNEMENT=

# Support utilisateur via Crisp
VITE_CRISP_URL_FAQ= # URL vers la FAQ Crisp. Laisser vide pour masquer le lien vers la FAQ.

VITE_MAINTENANCE_PREVUE= # Texte affiché dans le bandeau de maintenance, après "en maintenance". Ne pas valoriser pour masquer le bandeau.

VITE_MSC_BANDEAU_PROMOTION_DATE_DEBUT= # Une date format ISO à partir de laquelle le bandeau de promotion « Mes Services Cyber » s'affiche. Vide pour ne pas l'afficher.