# Matomo
VITE_MATOMO_SITE_ID=
VITE_MATOMO_SCRIPT_HASH=

# Sentry
VITE_SENTRY_DSN=
VITE_SENTRY_ENVIRONNEMENT=

# Support utilisateur via Crisp
VITE_CRISP_URL_FAQ= # URL vers la FAQ Crisp. Laisser vide pour masquer le lien vers la FAQ.
