# Port exposé pour l'API
PORT=3000

# Niveau de journalisation
# Séparés entre ';' sans espace
# error : erreur de Nest
# warn : warning de Nest
# verbose : details d'éxecution (niveau max pour du running)
# debug : Informations de débugage spécifique (à désactiver en prod)
# log : niveau par défaut
# fatal : erreurs provoquant un crash de l'app
NESTJS_LOG_LEVEL=

# Bases de données
# Base de donnée principale
SCALINGO_POSTGRESQL_URL=
URL_SERVEUR_BASE_DONNEES= # Exemple, en local : postgres://postgres@db/anssi-nis2

# Base de donnée Journal (Metabase)
BASE_DONNEES_JOURNAL=

# Utilisateur pour authentification basique
UTILISATEUR_BASIC_AUTH=
# Mot de passe pour l'authentificaiton basique (User=NIS2)
MOT_DE_PASSE_BASIC_AUTH=
# (Déprécié) Mot de passe pour l'authentificaiton basique
PASSWORD_NIS2_BASIC_AUTH=$MOT_DE_PASSE_BASIC_AUTH

# Répertoire de génération du front
NIS2_FRONT_BASE_PATH=

# Limitation de requetes
#  - Trois niveaux de surveillance: COURTE, MOYENNE et LONGUE
#  - LIMITATION_REQUETES_{COURTE|MOYENNE|LONGUE}_DUREE :
#       durée en seconde de la fenetre de temps (typiquement, 1|10|60)
#  - LIMITATION_REQUETES_{COURTE|MOYENNE|LONGUE}_NOMBRE :
#       nombre de requête maximum sur cette fenêtre de temps (typiquement, 3|20|100)
LIMITATION_REQUETES_COURTE_DUREE=
LIMITATION_REQUETES_COURTE_NOMBRE=
LIMITATION_REQUETES_MOYENNE_DUREE=
LIMITATION_REQUETES_MOYENNE_NOMBRE=
LIMITATION_REQUETES_LONGUE_DUREE=
LIMITATION_REQUETES_LONGUE_NOMBRE=

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONNEMENT=

# Brevo
BREVO_CLE_API= # Clé d'API pour appeler Brevo. Laisser vide pour ne pas utiliser Brevo (une implémentation in-memory sera utilisée à la place).
BREVO_API_BASE_URL= # URL de base de l'API Brevo. Exemple : https://api.brevo.com/v3

# Filtrage IP
ADRESSES_IP_AUTORISEES= # IP autorisées, séparées par des virgules (si plusieurs). Laisser vide pour désactiver le filtrage

# Features Flags
AVEC_IMPLEMENTATION_EXPRESSJS= # `true` pour utiliser la nouvelle implémentation du backend, en Express. Sinon ce sera l'implémentation Nest.