.fr-definition {
    font-style: italic;
    line-height: 200%;
}

.fr-follow .fr-link--dailymotion::before {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(@gouvfr/dsfr/dist/icons/logo/fr--dailymotion-line.svg);
    mask-image: url(@gouvfr/dsfr/dist/icons/logo/fr--dailymotion-line.svg);
    content: "";
}

.fr-follow .fr-link--github::before {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url(@gouvfr/dsfr/dist/icons/logo/github-fill.svg);
    mask-image: url(@gouvfr/dsfr/dist/icons/logo/github-fill.svg);
    content: "";
}

legend.fr-text--regular,
.fr-text--medium {
    font-weight: 500 !important;
}

legend.fr-text--medium {
    margin-bottom: 2rem;
}

.texte-edito {
    & p {
        font-size: 1.25rem !important;
        line-height: 2rem !important;
        margin: var(--text-spacing);
    }

    & ul {
        padding-top: 1rem;
    }

    & h3 {
        padding-top: 2.5rem;
    }
}

.fr-nis2-bordure-bas {
    border-bottom: 1px solid var(--blue-france-850-200, #CACAFB);
}

.fr-nis2-resultat {
    &.fr-nis2-eligible {
        background-color: var(--green-menthe-975-75);
    }

    &.fr-nis2-non-eligible {
        background-color: var(--yellow-tournesol-925-125);
    }

    &.fr-nis2-eligible {
        & h4, & .fr-nis2-icone {
            color: var(--green-menthe-sun-373-moon-652, #37635F);
        }

        & .fr-nis2-icone {
            text-align: center;
        }
    }

    &.fr-nis2-non-eligible {
        & h4, & .fr-nis2-icone {
            color: #A88E26;
        }

        & .fr-nis2-icone {
            text-align: center;
        }
    }

    .fr-icon--xl {
        font-size: 3rem !important;
    }

    .fr-icon--xl::before,
    .fr-icon--xl::after {
        --icon-size: 3rem;
    }
}

.fr-nis2-resultat-explications {
    background-color: var(--background-alt-grey, #F6F6F6);

    & h4 {
        color: var(--text-title-grey, #161616);
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    & h5 {
        color: var(--text-title-grey, #161616);
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.25rem;
        margin-bottom: .25rem;
    }

    & p, & li {
        color: var(--text-default-grey, #161616);
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & li {
        margin-bottom: .25rem;
    }
}

.fr-nis2-en-cours-developpement {
    background: #FEF4F2 url(assets/in-progress.svg) no-repeat;
    background-position-y: center;
    background-position-x: 1rem;
    display: flex;
    padding: 24px;
    align-items: flex-start;
    align-self: stretch;

    & p {
        margin: 0 0 0 6.5rem;
    }
}