.fr-bandeau-marianne {
  background-color: #272771;
  color: var(--dark-text-title-grey, #fff);

  & h2 {
    color: var(--dark-text-title-grey, #fff);
  }
}

.fr-nis2-bandeau-marianne-leger {
  background: #f5f5fe;

  & h2 {
    text-align: center;
    color: #272771;
  }

  .fr-input {
    background-color: #fff;
  }
}

.fr-nis2-mise-en-avant {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--Yellow, #fdc82e);
  padding: 0.5rem 1rem;
  color: var(--Dark-Grey, #282828);
  font-size: 1.125rem;
}

.fr-nis2-bom {
  position: fixed;
  z-index: 999;
  right: 10px;
  bottom: 20px;
  transition: height 0.2s, padding 0.2s;

  &.bom-ferme {
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px 2px 30px;
    gap: 8px;
    background-color: #272771 !important;

    &:hover {
      filter: saturate(110%) contrast(110%);
      background-color: #2323ff !important;
    }

    &:before {
      content: "";
      background-image: url(assets/vignette-bom.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -25px;
    }

    & img {
      transform: rotate(-90deg);
    }
  }

  &.bom-ouvert {
    width: 320px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 1;

    & h4 {
      color: white;
      height: 100px;
      background: url(assets/entete-fenetre-bom.svg) no-repeat;
      background-position-y: -1px;
      background-size: 100%;
      padding-left: 86px;
      padding-top: 43px;
      font-size: 0.9rem;
      line-height: 1.4rem;
      margin-bottom: 0;

      & .plus-grand {
        font-size: 1.3rem;
      }
    }

    & .contenu {
      padding: 24px 18px;
      border-left: 1px solid #272771;
      border-right: 1px solid #272771;

      & ul {
        list-style-type: none;
        padding-left: 0;

        & a {
          color: #272771;
        }
      }
    }

    & .fermeture-bom {
      display: flex;
      width: 100%;
      padding-right: 10px;
      padding-bottom: 10px;
      justify-content: flex-end;
      border-left: 1px solid #272771;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom: 1px solid #272771;
      border-right: 1px solid #272771;

      & button {
        font-size: 1rem;
      }
    }
  }
}

.fr-nis2-accueil-principal {
  height: 720px;

  .fr-nis2-appel-action {
    & h1 {
      color: var(--White, #fff);
      font-size: 3.25rem;
      line-height: 120%;
      margin-bottom: 1rem;
    }

    & p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.5rem;
    }
  }

  background-image: url(assets/marches.svg);
  background-position: top right;
  background-repeat: no-repeat;

  .fr-nis2-marches {
  }
}

.fr-nis2-suis-je-concerne {
  .fr-nis2-flottant {
    & h2 {
      color: #272771;
    }

    text-align: center;
    position: relative;
    padding: 3.5rem 0 4.5rem 0;
    background-color: #fff;
    margin-top: -250px;
    height: 296px;
  }
}

.fr-nis2-accueil-directive-europeenne {
  background: #f5f5fe;
  margin-top: -230px;
  padding-top: 100px;
  z-index: initial;

  & h2,
  h3 {
    text-align: center;
    color: #272771;
    margin-bottom: 1rem;
  }

  & h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .fr-nis2-logo-ue {
    text-align: center;

    & > div {
      background-image: url(assets/EU-logo.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 486px;
      height: 399px;
      margin-bottom: 19px;
      align-items: center;
      vertical-align: middle;
      text-align: center;
      display: flex;
    }

    & > div p {
      width: 100%;
      margin-bottom: 0;
      left: 205px;
      top: 180px;
      font-size: 2.625rem;
      line-height: 3.125rem;
      font-weight: 700;
    }

    & > p {
      line-height: 200%;
    }
  }

  .fr-nis2-obligations {
    background-color: #fff;

    & h3 {
      color: #272771;
      width: -moz-fit-content;
      width: fit-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    & li {
      list-style: none;
      text-align: center;
    }

    & img {
      float: none;
    }
  }
}

.fr-nis2-bandeau {
  & h2 {
    text-align: center;
  }
}

.fr-nis2-en-savoir-plus {
  & h2 {
    color: #272771;
  }
}

.fr-follow .fr-link--dailymotion::before {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url(@gouvfr/dsfr/dist/icons/logo/fr--dailymotion-line.svg);
  mask-image: url(@gouvfr/dsfr/dist/icons/logo/fr--dailymotion-line.svg);
  content: "";
}

.fr-follow .fr-link--x::before {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url(assets/logo-x.svg);
  mask-image: url(assets/logo-x.svg);
  content: "";
}

.fr-follow .fr-link--github::before {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url(@gouvfr/dsfr/dist/icons/logo/github-fill.svg);
  mask-image: url(@gouvfr/dsfr/dist/icons/logo/github-fill.svg);
  content: "";
}

.fr-nis2-icon-in-progress::before {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url(assets/in-progress.svg);
  mask-image: url(assets/in-progress.svg);
  content: "";
}

.fr-nis2-form {
  margin-top: 2rem;
}

.fr-nis2-icone-16px {
  padding-left: 0.5rem;
  float: right;
}

.fr-nis2-icone-16px::before {
  --icon-size: 1.125rem;
}

.fr-icon-hand {
  cursor: pointer;
}

.fr-nis2-infobulle {
  & p {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  & h6 {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  & .fr-btn--close {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    max-width: 4rem;
    max-height: 4rem;
  }
}

legend.fr-text--regular,
.fr-text--medium {
  font-weight: 500 !important;
}

legend.fr-text--medium {
  margin-bottom: 2rem;
}

.texte-edito {
  & p {
    margin: var(--text-spacing);
  }

  & ul {
    padding-top: 1rem;
  }

  & h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.fr-nis2-qui-est-anssi {
  text-align: center;
  font-size: 1.125rem;

  & h2 {
    text-align: center;
  }

  & a {
    background: none;
  }

  & [target="_blank"]:after,
  [target="_blank"][class*=" fr-fi-"]:after,
  [target="_blank"][class*=" fr-icon-"]:after,
  [target="_blank"][class^="fr-fi-"]:after,
  [target="_blank"][class^="fr-icon-"]:after {
    display: none;
  }
}

.fr-nis2-bordure-bas {
  border-bottom: 1px solid var(--blue-france-850-200, #cacafb);
}

.fr-nis2-bordure-bas-l {
  border-bottom: 2px solid var(--blue-france-950-100, #ececfe);
}

.fr-nis2-resultat {
  & strong > em,
  em > strong,
  b > i,
  i > b {
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
  }

  & h4 {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
    padding: 0;
    line-height: 2.25rem;
  }

  & > p {
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
  }

  &.fr-nis2-eligible {
    background-color: var(--green-menthe-975-75);
  }

  &.fr-nis2-eligible {
    & h4,
    p,
    .fr-nis2-icone {
      color: var(--green-menthe-sun-373-moon-652, #37635f);
    }

    & .fr-nis2-icone {
      text-align: center;
    }
  }

  &.fr-nis2-non-eligible {
    background-color: var(--yellow-tournesol-975-75);
  }

  &.fr-nis2-non-eligible {
    & h4,
    .fr-nis2-icone {
      color: #a88e26;
    }

    & p {
      color: #7d6a20;
    }

    & .fr-nis2-icone {
      text-align: center;
    }
  }

  &.fr-nis2-incertain-UE {
    background-color: var(--background-alt-grey, #f6f6f6);

    & h4,
    p,
    .fr-nis2-icone {
      color: var(--light-decisions-text-text-mention-grey, #666);
    }

    & .fr-nis2-icone {
      text-align: center;
    }
  }

  &.fr-nis2-non-eligible {
    & h4,
    & .fr-nis2-icone {
      color: #a88e26;
    }

    & .fr-nis2-icone {
      text-align: center;
    }
  }

  &.fr-nis2-incertain {
    background-color: var(--orange-terre-battue-975-75, #fef4f2);
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(assets/in-progress.svg);
    background-position-y: 1rem;

    padding-top: 7.5rem !important;

    .fr-icon--xl::before,
    .fr-icon--xl::after {
      display: none;
    }

    .fr-icon--xl {
      display: none;
    }

    & h4 {
      font-size: 1.375rem;
    }

    & h4,
    & p {
      color: var(--text-title-grey, #161616);
    }

    & .fr-nis2-icone {
      text-align: center;
    }
  }

  .fr-icon--xl {
    font-size: 3rem !important;
  }

  .fr-icon--xl::before,
  .fr-icon--xl::after {
    --icon-size: 3rem;
  }
}

.fr-nis2-resultat-explications {
  background-color: var(--background-alt-grey, #f6f6f6);

  & h4 {
    color: var(--text-title-grey, #161616);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  & h5 {
    color: var(--text-title-grey, #161616);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
  }

  & p,
  & li {
    color: var(--text-default-grey, #161616);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  & p {
    margin-bottom: 1rem;
  }

  & li {
    margin-bottom: 0.25rem;
  }

  & i::before {
    vertical-align: middle;
    margin-left: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  & button {
    color: var(--light-text-action-high-blue-france, #000091);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
  }
}

.fr-nis2-hidden {
  display: none;
}

.fr-nis2-tuile-lien {
  gap: 1.125rem;

  & li {
    list-style: none;
    text-align: center;
    flex: auto;
  }

  & a {
    background: none;
  }
}

.fr-nis2-text--center {
  text-align: center;
}

.fr-nis2-bien-debuter {
  & a {
    background: none;
  }

  .fr-nis2-logo-localisation {
    & img {
      margin-left: 2.5rem;
    }
  }

  & h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  & Button {
    margin-left: 1rem;
    margin-top: 4rem;
  }

  & .fr-notice--info {
    border: 1px solid
      var(
        --light-decisions-background-background-action-low-blue-france-hover,
        #c1c1fb
      );
    background: var(
      --light-decisions-background-background-contrast-blue-france,
      #ececfe
    );
  }

  & .fr-notice__body::before {
    color: #00008f;
  }

  & .fr-notice__body {
    color: var(--light-decisions-text-text-title-grey, #161616);
    font-size: 1rem;
  }

  & p.fr-notice__body {
    padding-right: 0;
  }
}

.fr-notice--info {
  border: 1px solid
    var(
      --light-decisions-background-background-action-low-blue-france-hover,
      #c1c1fb
    );
  background: var(
    --light-decisions-background-background-contrast-blue-france,
    #ececfe
  );
}

.fr-notice__body::before {
  color: #00008f;
}

.fr-notice__body {
  color: var(--light-decisions-text-text-title-grey, #161616);
  font-size: 1rem;
}

p.fr-notice__body {
  padding-right: 0;
}

.fr-input,
.fr-checkbox-group input[type="checkbox"] + label::before {
  background-color: #fff;
}

.fr-radio-group input[type="radio"] + label {
  background-image: radial-gradient(
    #fff 10px,
    var(--background-action-high-blue-france) 11px,
    transparent 12px
  );
}

.fr-radio-group input[type="radio"]:checked + label {
  background-image: radial-gradient(
      transparent 10px,
      var(--background-action-high-blue-france) 11px,
      transparent 12px
    ),
    radial-gradient(transparent 7px, #fff 8px, transparent 9px),
    radial-gradient(
      var(--background-action-high-blue-france) 5px,
      transparent 6px
    );
}

.fr-nis2-faq {
  & h1 {
    margin-bottom: 2.5rem;
  }

  & h2 {
    margin: 2.5rem 0;
  }

  & h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  & p,
  li {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  & h3 {
    margin-top: 2.5rem;
  }

  & p,
  ul,
  ol {
    margin-top: 1.5rem;
  }

  & ul {
    padding-inline-start: 1.5rem;
  }
}

nav.fr-nis2-faq-menu.fr-sidemenu {
  padding-right: 0.5rem;

  & li.fr-sidemenu__item {
    /*padding: 0;*/
  }

  & .fr-sidemenu__list .fr-sidemenu__list {
    margin-right: 0;
  }

  & .fr-sidemenu__link,
  & .fr-sidemenu__btn {
    padding: 0.75rem 0.5rem;
  }
}

.fr-nis2--float-right {
  float: right;
}

.fr-nis2-menu-burger {
  border: 1px solid #dddddd;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 16px;
  z-index: calc(var(--ground) + 501);
}

.fr-nis2-menu-mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: calc(var(--ground) + 502);
  background: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 16px;

  a {
    padding: 12px 16px;
    background: none;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid #dddddd;

    &[target="_blank"]::after {
      display: none;
    }

    &.active {
      color: #000091;

      &:before {
        content: "";
        width: 2px;
        height: 24px;
        background: #000091;
        display: flex;
        transform: translateX(-16px);
      }
    }
  }

  .fr-nis2-menu-mobile-fermer {
    width: fit-content;
    margin-left: auto;
    padding: 4px 8px 4px 12px;
    font-weight: 500;
    color: #000091;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 36px;

    &:after {
      content: "";
      background: url(assets/icone-fermer.svg);
      width: 16px;
      height: 16px;
      display: flex;
      transform: translateY(1px);
    }
  }
}

.fr-nis2-menu-desktop {
  display: none;
}

.fr-nis2-bloc-principal {
  padding: 40px 16px;

  &.aucune-marge-basse {
    padding-bottom: 0;
  }

  &.fond-blanc {
    background: white;
  }

  &.fond-primaire {
    background: var(--couleur-primaire);
  }

  &.fond-gris {
    background: #f6f6f6;
  }

  .texte-blanc {
    color: white;
  }

  .texte-primaire {
    color: var(--couleur-primaire);
  }

  &#informations {
    padding-top: 32px;
    padding-bottom: 32px;

    h2 {
      font-size: 22px;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }

    .infolettre {
      display: flex;
      justify-content: center;
    }

    .separateur {
      height: 1px;
      background: #6a6af4;
      margin: 24px 0;
    }

    .fr-follow {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .fr-nis2-menu-burger {
    top: 24px;
    right: 24px;
  }

  .fr-nis2-bloc-principal {
    padding: 40px 56px;

    &#informations {
      background: #f5f5fe;

      .contenu-bloc-principal {
        display: flex;
        align-items: center;
      }

      & > * {
        flex: 1;
      }

      h2 {
        text-align: left;
      }

      .restez-informe {
        max-width: 48%;
      }

      .infolettre {
        width: fit-content;
      }

      .separateur {
        min-width: 1px;
        max-width: 1px;
        height: 188px;
        margin-left: 40px;
        margin-right: 40px;
      }

      .fr-follow {
        h2 {
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .fr-nis2-menu-burger {
    display: none;
  }

  .fr-nis2-menu-desktop {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    a {
      padding: 16px;
      background: none;
      color: #272771;
      font-size: 14px;
      font-weight: bold;

      &[target="_blank"]::after {
        display: none;
      }

      &.active {
        color: #282828;
        border-bottom: 4px solid #fdc82e;
      }
    }
  }

  .fr-nis2-bloc-principal {
    .contenu-bloc-principal {
      max-width: 1200px;
      margin: 0 auto;
    }

    &#informations {
      flex-direction: row;

      .restez-informe {
        max-width: 690px;
      }

      .separateur {
        margin-left: 103px;
        margin-right: 103px;
      }
    }
  }
}

.fr-nis2-bouton {
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}

.fr-nis2-bouton-principal {
  @extend .fr-nis2-bouton;
  background: #fdc82e;

  &:hover {
    background: #ffdb71 !important;
  }
}

.fr-nis2-bouton-secondaire {
  @extend .fr-nis2-bouton;
  background: #272771;
  color: white;

  &:hover {
    background: #41419f !important;
  }
}

.fr-nis2-bouton-tertiaire {
  @extend .fr-nis2-bouton;
  border: 1px solid #dddddd;
  background: white;
  color: #272771;

  &:hover {
    background: #0000000a !important;
  }
}

.fr-follow .fr-link::before {
  background: #272771;
}

.texte-edito .fr-nis2-formulaire-restez-informes .fr-checkbox-group {
  margin-top: 16px;
}
